#logo {
    max-width: 50px;
    margin: -7px 0px;
}

.force-wrap {
    word-wrap:break-word;
    width:100%;
    display:block;
}

.nav-item .nav-link {
    padding: 0;
}

li.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#previous_page{
    color: #2fa4e7;
    font-size: 30px;
    transform: scaleX(-1);
}

button.fa-github{
    letter-spacing: 1.5px;
}

@media (min-width: 576px) {
    .collapse.nabar-collapse {
        display: block;
    }
}